{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block menu %}
    <li><a href=" {% url 'change' user_obj.pk %}" class="btn btn-primary">Редактировать</a></li>
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.avatar %}
        <img class="avatar" src="{{ user_obj.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Логин: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.name }}</p>
    <p>Инфо: {{ user_obj.information }}</p>
    <p>Почта: {{ user_obj.email }}</p>
    <h2 class="text-center clear">Отзывы:</h2>
    {% include 'partial/product_list.html' %}
{% endblock %}